POSTGRES_DB=gestarafeto
POSTGRES_USER=gestarafeto
POSTGRES_PASSWORD=gestarafeto
GESTARAFETO_DB_URL=jdbc:postgresql://localhost:5432/gestarafeto
GESTARAFETO_DB_USER=gestarafeto
GESTARAFETO_DB_PASSWORD=gestarafeto

# Microsservico de alertas (banco proprio, na porta 5433)
POSTGRES_ALERTAS_DB=gestarafeto_alertas
POSTGRES_ALERTAS_USER=gestarafeto
POSTGRES_ALERTAS_PASSWORD=gestarafeto
GESTARAFETO_ALERTAS_DB_URL=jdbc:postgresql://localhost:5433/gestarafeto_alertas
GESTARAFETO_ALERTAS_DB_USER=gestarafeto
GESTARAFETO_ALERTAS_DB_PASSWORD=gestarafeto

# URL usada pelo servico principal para falar com o microsservico
GESTARAFETO_ALERTAS_URL=http://localhost:8081
GESTARAFETO_ALERTAS_PORT=8081

# RabbitMQ (TP4)
RABBITMQ_USER=gestarafeto
RABBITMQ_PASSWORD=gestarafeto
GESTARAFETO_RABBIT_HOST=localhost
GESTARAFETO_RABBIT_PORT=5672
GESTARAFETO_RABBIT_USER=gestarafeto
GESTARAFETO_RABBIT_PASSWORD=gestarafeto
